<h1>
    <pre>
    <p>
    Eg Marks is <%= yeg %>
    </p>
    <p>
    C Marks is <%= yc %>
    </p>
    <p>
    OS Marks is <%= yos %>
    </p>
    <p>
    COA Marks is <%= ycoa %>
    </p>
     Marks Sum is <%= ytotal %> out of 400
    </pre>
    </h1>